$primaryFont: '';
$iconFont: 'icomoon';

@mixin transition($property: all, $duration: 0.4s, $easing: ease-in-out) {
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -ms-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
  transition: $property $duration $easing;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

 @mixin rotate($degrees) {
	-webkit-transform: rotate($degrees);
	-moz-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
	-o-transform: rotate($degrees);
	transform: rotate($degrees);
}

@mixin prefixer($property, $value, $prefixes: webkit) {
    @each $prefix in $prefixes {
        #{"-" + $prefix + "-" + $property}: $value;
    }
    #{$property}: $value;
}

@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin align-center{
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	align-content: center;
}


/*
	Body & HTML setup
	
*/

#full-height{
	display: none;
}

body, html {
	height:100%;	
}

body {
    color: #000000;
	font:12px/18px $primaryFont;
	&.nav-menu-open{
		position: fixed;
		overflow: hidden;
		left: 0px;
		right: 0px;		
	}	
}

.container {
    position: relative;
	margin-left: auto;
	margin-right: auto;
	*zoom: 1;
	max-width:1000px;
	min-width: 0px;
	width: 100%;	
}

.container-fluid{
    position: relative;
	margin-left: auto;
	margin-right: auto;
	*zoom: 1;
	width: 100%;
	max-width:2000px;
	min-width: 320px;			
}



.wrap {
	position: relative;
	margin: 0 auto -90px; /* bottom is negative value of .push height */
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.push {
	height: 90px;
	background: transparent;
} /* footer height plus padding */

.padding
{
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.nomargin{
	margin-left: 0px !important;
	margin-right: 0px !important;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #d6d3ab;
}

::selection {
    color: white; 
    background: #d6d3ab;
}

:focus
{
	outline: 0px none transparent;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

::-webkit-input-placeholder {
   color: #CCC;
}

:-moz-placeholder { /* Firefox 18- */
   color: #CCC;
   opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #CCC; 
   opacity: 1;
}

:-ms-input-placeholder {  
   color: #CCC;
}

h1, h2, h3, h4, h5, h6, p{
     margin-top: 0px;
     margin-bottom: 0px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="submit"], textarea, select{
	-webkit-appearance: none;
	border-radius: 0px;
}

#preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

a, input[type="submit"]{
	@include transition(all, 300ms, ease-in-out);	
	&:hover{
		@include transition(all, 300ms, ease-in-out);
	}
}
img{
	max-width: 100%;
	&.alignright{
		float: right; 
		margin: 0 0 1em 1em;
	}
	&.alignleft{
		float: left; 
		margin: 0 1em 1em 0;
	}
	&.aligncenter{
		display: block; 
		margin-left: auto; 
		margin-right: auto;
	}
}
.alignright{ 
	float: right; 
}
.alignleft{
	float: left; 
}
.aligncenter{ 
	display: block;
	margin-left: auto; 
	margin-right: auto; 
}

img{
	max-width: 100%;
	&:not([src]) {
    	visibility: hidden;
	}
	&.alignright{
		float: right; 
		margin: 0 0 1em 1em;
	}
	&.alignleft{
		float: left; 
		margin: 0 1em 1em 0;
	}
	&.aligncenter{
		display: block; 
		margin-left: auto; 
		margin-right: auto;
	}
}
.alignright{ 
	float: right; 
}
.alignleft{
	float: left; 
}
.aligncenter{ 
	display: block;
	margin-left: auto; 
	margin-right: auto; 
}

@media screen and (max-width: 767px){
	img{
		&.alignright, &.alignleft{
			float: none;
			display: block;
			margin: 0 auto 30px;
		}
	}
	.alignright, .alignleft{
		float: none;
		margin: 0 auto 30px;
	}
}

[class^="icon-"], [class*=" icon-"] {
	font-family: $iconFont !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.animsition-loading{
	border: none;
    -webkit-animation-iteration-count: none;
    animation-iteration-count: none;
    -webkit-animation-timing-function: none;
    animation-timing-function: none;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-name: none;
    animation-name: none;	
    width: 60px;
}

@media screen and (max-width: 767px){
    .animatedParent .animated {
        @include prefixer(transition-property, none !important);
        @include prefixer(animation, none !important);
        @include transform(none !important);
        opacity: 1
    }	
}