.contract {
    width: 100%;
    &__title {
        padding: 3.75rem 5rem 3.125rem 5rem;
        @include h2centerblue;
    }
    &__lists {
        justify-content: center;
        align-items: center;
        
        @include breakpoint-up(large){
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            padding-right: 15px;
            
            li {
                position: relative;
                margin-top: 10px;
                border-bottom: 2px solid $light-periwinkle;
            }
        }
    }
    &__items {
        background-color: $sky;
        padding: 55px 20px 75px;
        color: $navy;
        align-items: center;
        text-align: left;
        
        
        @include breakpoint-up(large){
            padding: 5rem 60px 5rem 15rem;
            width: 50%;
            clip-path: polygon(0 0, 100% 0, 97% 7%, 97% 93%, 100% 100%, 0 100%);
        }
        i{
            display: flex;
            justify-content: space-between;
            color: $blue;
        }
    }
    &__li-content {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        span {
            font-size: 1.5rem;
            line-height: 1.48rem;
        }
    }
    &__nonitems {
        flex-wrap: nowrap;
        padding: 50px 20px;
        color: $blue-slate;

        @include breakpoint-up(large){
            padding: 5rem 15rem 5rem 60px;
            width: 50%;
        }
        i{
            display: flex;
            justify-content: space-between;
            color: $blue-slate;
        }
    }
}