body #gform_wrapper_1 {
    max-width: 100%;
    margin-bottom: 0;
    padding: 9.375rem;
    text-align: center;
    font-weight: normal;
    background-color: $sky;
    @include h3leftgrey;
    @include breakpoint-up(large){
        padding: 11.938rem;
    }

    ul#gform_fields_1{
        width: 60%;
        padding-left: 1.25rem;
    }
    ul.column_2{
        width: 40%;
        li{
            width: 85%;
            height: 80%;
        }
    }

    .gform_title {
        padding-bottom: 20px;
        text-align: center;
        text-transform: capitalize;
        @include h2centerblue;
    }
    .gfield_required{
        color: $blue;
    }

    /* checkbox */

    input[type="checkbox"]:not(:checked),
    input[type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
    }

    input[type="checkbox"]:not(:checked)+label,
    input[type="checkbox"]:checked+label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
    }

    input[type="checkbox"]:not(:checked)+label:before,
    input[type="checkbox"]:checked+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0px;
        width: 25px;
        height: 25px;
        background: $white;
        background-color: $white;
    }

    input[type="checkbox"]:not(:checked)+label:after,
    input[type="checkbox"]:checked+label:after {
        content: '✔';
        position: absolute;
        top: 7px;
        left: 7px;
        font-size: 14px;
        line-height: 0.8;
        color: $blue;
        transition: all .2s;
    }

    input[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
    }

    input[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
    }

   
    label {
        font-weight: 100;
        margin-right: 2px;
    }
    label:hover{
        font-weight: 900;
    }
    [type="checkbox"]:checked+label{
        font-weight: 900;
    }
    /* end checkbox */


    li{
        margin-right: 5px;
    }
    input, textarea {
        border: none;
    }
    .gfield:not(.gf_list_2col_vertical){
        @include breakpoint-up(large){
            width: 49%;
        }
    }
    textarea.medium{
        @include breakpoint-up(large){
            width: 125%;
            height: 100%;
        }
    }
    .ginput_container input:hover, textarea:hover{
        box-shadow: 0 5px 11px -8px rgba(0,0,0,0.4);
    }
    
}

.gform_footer{
    position: relative;
    text-align: center;
    input[type="submit"]{
        background-color: $blue;
        color: $white;
        @include breakpoint-down(small){
            width: 40% !important;
            float: none;
            position: absolute;
            top: 150%;
            right: 30%;
        }
        &:hover{
            background-color: $white;
            color: $navy;
        }
    }

}


