/* footer.scss */

.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    object-fit: contain;
    padding: 1.875rem;
    background-color: $navy;
    &__container{
        text-align: center;
        width: 100%;
        ul{
            li{
                list-style: none;
            }
        }
        @include breakpoint-up(medium){
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
    
                li{
                    align-items: center;
                }
            }
        }
    }
    &__copyright{
        align-items: center;
        padding: 1.25rem;
        @include bodyleftgrey;
        img{
            height: 2.125rem;
            color: $white;
        }
    }
    &__cacpro{
        align-items: center;
        padding: 1.25rem;
        @include bodyleftgrey;
    }
}