/* header.scss */


.site-header {
  position: relative;
  z-index: 1;


  &.open {
  
    .site-header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  
  &__toggle {
    > span {
      display: block;
      width: 31px;
      height: 2px;
      background-color: $white;
      transition: all 300ms ease-in-out;
      transform-origin: 1.5px 1px;
      
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  
  
  nav {
    position: absolute;
    padding-top: 1.813rem;
    padding-bottom: 6.25rem;
    width: 100%;
  }
  
  &__logo {
    img {
        width: 13.25rem;
        height: 2.6rem;
        padding-left: 0px;
        margin-right: 30vw;

      @include breakpoint-up(medium){
        width: 15.25rem;
        height: 3.688rem;
        padding-left: 20px;
        margin-right: 50vw;
      }
      @include breakpoint-up(large){
        width: 15.25rem;
        height: 3.688rem;
        padding-left: 20px;
        margin-right: 65vw;
      }
      
    }
    
  }
  
  .overlay {
    opacity: 0;
    // display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: $navy;
  }
  
  &__menu {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $navy;
    margin-top: 13rem;
   
    a {
      display: block;
      text-align: center;
      padding: 1rem;
      color: $white; 
      margin: auto;
    } 
    .site-header__btn{
      margin-top: 40px;
    }
  }

  &__btn {
    flex-shrink: 0;
    background-color: $blue;
    @include h4white;
    width: 210px;
    height: 50px;
    padding: 1.063rem 2.063rem;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    &:hover {
      @include transition;
      background-color: $white;
      color: $navy;
    }
    @include breakpoint-down(small){
      margin-right: 20px;
    }
  }

  
}