.services {
    background-color: $sky;
    width: 100%;
    padding: 5.875rem 0;
    margin: 1.5rem 0;
    
    h4 {
        padding-top: 1.5rem;
        padding-bottom: 3.125rem;
        text-align: center;
        // margin: 0 0 50px;
        @include h4blue;
        font-size: 1.5rem;
        line-height: 2.188rem;
    }
    &__cards {
        justify-content: center;
        align-items: center;

        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
            padding-right: 8.438rem;
            padding-left: 8.438rem;
        }
    }

    &__card {
        display: flex;
        align-items: left;
        padding: 1rem;
        margin-right: 0.938rem;
        margin-left: 0.938rem;
        margin-bottom: 0.75rem;
        background-color: $white;
        
        @include breakpoint-down(medium){
            align-items: center;
            justify-content: start;
            flex: 1 0 50%;
        }
        
        @include breakpoint-up(large) {
            justify-content: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 270px;
            height: 200px;
            flex: 1 0 20%;
            margin-bottom: 1.938rem;
       
        }

        i {
            font-size: 35px;
            text-align: left;
            width: 50px;
            height: 50px;
            padding: 8px 15px 8px 0;
            color: $blue;
            background-color: rgba(75, 141, 167, 0.1);
            border-radius: 50px;
            margin: 10%;
            @include breakpoint-down(small){
                margin-left: 0;
            }
        }
        h3 {
            font-size: 20px;
            text-align: left;
            // @include h3leftblue

            @include breakpoint-down(small) {
                flex-wrap: wrap; 
            }
        }
    }
    &__card:hover{
        box-shadow: 0 4px 10px 0px rgba(0,0,0,0.4);
        transition: box-shadow 0.2s ease-in-out
    }
   
    
}
