.swiper{
   position: relative; 
   @include breakpoint-up(medium){
       margin-left: auto;
       margin-right: auto;
       width: 92%;
       padding-left: 2em;
       padding-right: 2em;
   }
   @include breakpoint-up(large){
       width: 95%;
   }
}
.swiper-wrapper{
    margin-bottom: 3em;
    width: 73.8%;
    @include breakpoint-up(medium){
        width: 100%;
    }
}
.swiper_container {
    max-width: 600px;
    max-height: 300px;
}
.swiper-slide {
    text-align: center;
    background: $white;
    height: 700px;
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    
}
div.swiper-button-next, .swiper-button-prev {
    color: $blue;
    @include breakpoint-down(small){
        top: 76%;
        width: 230px;
        height: 44px;
    }
    
}

.swiper-slide i {
    color: $blue;
    font-size: 2.183rem;
    padding: 20px;
}
.swiper-slide .text {
    padding-top: 20px;
    width: 70%;
    font-size: 3vw;
    line-height: 1.55;
    font-weight: 100;
    font-family: "Interstate Greek and Cyrillic Reg";
    text-align: center;
    color: $blue-slate;
    @include breakpoint-up(medium){
        padding: 0 200px;
    }
    @include breakpoint-up(large){
        font-size: 24px;
    }
}
